//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: 0px 0px;
	@media (any-hover: hover) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
}

.btn {
	display: inline-flex;
	position: relative;
	flex: 0 0 auto; // не дает сжать кнопку
	cursor: pointer;
	align-items: center;
	justify-content: center;
	width: auto;
	overflow: hidden;
	min-height: rem(50);
	border-radius: 5px;
	//@include adaptiveValue("min-height", 50, 40);
	@include adaptiveValue("padding-left", 25, 15);
	@include adaptiveValue("padding-right", 25, 15);
	//transition: all 0.3s ease;
	&::before {
		content: "";
		position: absolute;
		bottom: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(240, 10, 248, 1);
		border-radius: 5px;
		transition: all 0.5s;
	}
	& span {
		position: relative;
		z-index: 1;
	}
	@media (any-hover: hover) {
		&:hover::before {
			transform: translateY(-100%);
			
		}
	}
}
