// Заголовки, общие БЄМ блоки и проче...

section {
	@include adaptiveValue("padding-top", 70, 30);
	@include adaptiveValue("padding-bottom", 70, 30);
}

.site-logo img{
	@media (any-hover: hover){
		transition: all .2s;
		&:hover {
			transform: scale(1.2);
			transition: all .2s;
		}
	}
}

