//====================================================================================================
.header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	&._header-scroll:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(17, 24, 39, 0.8);
		box-shadow: 0 -3px 5px 2px rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(20px);
	}
	&__container {
	}

	&__content {
		position: relative;
		display: flex;
		align-items: center;
		column-gap: rem(60);
		@include adaptiveValue("height", 120, 60);
		z-index: 3;
		@media (max-width: $mobile) {
			column-gap: rem(30);
		}
	}

	&__logo {
		flex: 1 1 auto;
	}

	&__menu {
	}
}

._popup-link {
	flex: 0 0 auto; // не дает сжать кнопку
	&__btn_header {
		background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
		@media (max-width: $mobile) {
			display: none;
		}
	}

	&__icon {
		display: none;
		width: rem(30);
		height: rem(30);
		@media (max-width: $mobile) {
			display: block;
		}
	}
}
._popup-link_header {
	@media (max-width: $mobile) {
		order: 2;
	}
}

//====================================================================================================
