//====================================================================================================
.header {
	z-index: 2;
	&__container {
	}

	&__content {
		display: flex;
		align-items: center;
		column-gap: rem(60);
		@include adaptiveValue("height", 120, 60);
		@media (max-width: $mobile) {
			column-gap: rem(30);
		}
	}

	&__logo {
		flex: 1 1 auto;
	}

	&__menu {
	}
}

._popup-link {
	flex: 0 0 auto; // не дает сжать кнопку
	&__btn_header {
		@media (max-width: $mobile) {
			display: none;
		}
	}

	&__icon {
		display: none;
		width: rem(30);
		height: rem(30);
		@media (max-width: $mobile) {
			display: block;
		}
	}
}
._popup-link_header {
	@media (max-width: $mobile) {
		order: 2;
	}
}

//====================================================================================================
