//-------main-section-------
.main-section {
	display: flex;
	column-gap: 20px;
	row-gap: 30px;
	justify-content: space-between;
	align-items: center;
	@media (max-width: $mobile) {
		justify-content: center;
	}
	@media (max-width: $mobileSmall) {
		flex-wrap: wrap-reverse;
	}
	// .main__offer
	&__offer {
		flex: 0 1 50%;
		max-width: rem(550);
		@media (max-width: $mobileSmall) {
			flex: 0 1 100%;
		}
	}
	// .main__image
	&__image {
		position: relative;
		flex: 1 0 45%;
		@include adaptiveValue("height", 570, 300, 1220, 576, 1);
		overflow: hidden;
		@media (max-width: $mobileSmall) {
			flex: 1 0 auto;
		}
		& img {
			position: absolute;
			top: 41%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 120%;
			height: 120%;
			object-fit: contain;
		}
	}
}
.main-offer {
	// .main-offer__title
	&__title {
		&:not(:last-child) {
			margin: rem(0) auto rem(30);
		}
	}
	// .main-offer__subtitle
	&__subtitle {
		&:not(:last-child) {
			margin: rem(0) rem(0) rem(30) rem(0);
		}
	}
	// .main-offer__buttons
	&__buttons {
		display: flex;
		column-gap: rem(35);
		row-gap: rem(10);
		@media (max-width: $mobileSmall) {
			flex-direction: column-reverse;
		}
	}
}
.video-link__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: rem(50);
	cursor: pointer;
	@include adaptiveValue("min-height", 50, 50);
	@media (max-width: $mobileSmall) {
		width: 90%;
		margin: 0 auto;
	}
	transition: all .3s;
	& span{
		transition: color .3s;
	}
	@media (any-hover: hover){
		&:hover span {
			color: $textColor3;
			transition: color .3s;
		}
		&:hover:before {
			transform: rotate(120deg);
			transition: all .3s;
		}
	}
	&:before {
		margin-right: rem(20);
		font-size: rem(25);
		transform-origin: center;
		transition: all .3s;
	}
}

._popup-link {
	&_offer {
		display: inline-block;
		text-align: center;
		@media (max-width: $mobileSmall) {
		}
	}
	// ._popup-link__btn
	&__btn {
		&_offer {
			display: inline-block;
			@media (max-width: $mobileSmall) {
				width: 90%;
			}
		}
	}
}

//-------servise-------

.service {
	text-align: center;
	// .service__header
	&__header {
		max-width: rem(600);
		width: 100%;
		&:not(:last-child) {
			margin: 0 auto rem(40);
		}
	}
	// .service__title
	&__title {
	}
	// .service__subtitle
	&__subtitle {
	}
	// .service__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(370), 1fr));
		column-gap: rem(30);
		@include adaptiveValue("row-gap", 40, 20, 768, 576, 1);
		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr;
		}
	}
	// .service__card
	&__card {
	}
}

.service-card {
	background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
	/* Shadow */
	box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
	border: 1px solid $mainBorderColor;
	border-radius: 34px;
	// .service-card__body
	&__body {
		@include adaptiveValue("padding", 20, 10);
	}
	// .service-card__icon
	&__icon {
		margin: rem(15) auto rem(20);
		width: 74px;
		height: 74px;
	}
	// .service-card__title
	&__title {
		font-weight: 500;
		@include adaptiveValue("font-size", 24, 18);
		line-height: math.div(31, 24);
		&:not(:last-child) {
			margin: rem(0) rem(0) rem(15) rem(0);
		}
	}
	// .service-card__text
	&__text {
		@include adaptiveValue("font-size", 16, 12);
		line-height: math.div(26, 16);
		&:not(:last-child) {
			margin: rem(0) rem(0) rem(15) rem(0);
		}
	}
	// .service-card__link
	&__link {
		display: inline-flex;
		font-size: rem(16);
		padding: rem(10);
		& span {
			margin: rem(1) rem(0) rem(0) rem(5);
		}
	}
}

//-------articles-------

.articles {
	display: flex;
	@include adaptiveValue("row-gap", 140, 60);
	flex-wrap: wrap;
	// .articles__article
	&__article {
	}
}
.article {
	display: flex;
	column-gap: 20px;
	row-gap: 30px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	@media (max-width: $mobile) {
		justify-content: center;
		flex-wrap: wrap;
		text-align: center;
	}
	// .article_importance
	&_importance {
	}
	// .article_knowleges
	&_knowleges {
		flex-direction: row-reverse;
	}
	// .article__image
	&__image {
		position: relative;
		flex: 1 0 40%;
		max-width: rem(555);
		@include adaptiveValue("height", 480, 300, 1220, 576, 1);
		overflow: hidden;
		@media (max-width: $mobile) {
			flex: 1 0 100%;
		}
		& img {
			position: absolute;
			top: 47%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 110%;
			height: 110%;
			object-fit: contain;
		}
	}
	// .article__offer
	&__offer {
		flex: 0 1 50%;
		max-width: rem(550);
		@media (max-width: $mobile) {
			flex: 0 1 100%;
		}
	}
}
.article-offer {
	// .article-offer__title
	&__title {
	}
	// .article-offer__subtitle
	&__subtitle {
		text-align: justify;
	}
	// .article-offer__btn
	&__btn {
		@media (max-width: $mobile) {
			width: 90%;
		}
	}
}

//-------team-------

.team {
	text-align: center;
	// .team__body
	&__body {
	}
	&__header {
		max-width: rem(600);
		width: 100%;
		&:not(:last-child) {
			margin: 0 auto rem(40);
		}
	}
	// .team__title
	&__title {
	}
	// .team__subtitle
	&__subtitle {
	}
	// .team__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(270), 1fr));
		column-gap: rem(30);
		@include adaptiveValue("row-gap", 40, 20, 768, 576, 1);
		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr;
		}
	}
	// .team__card
	&__card {
	}
}

.team-card {
	background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
	/* Shadow */
	box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
	border: 1px solid $mainBorderColor;
	border-radius: 34px;
	// .team-card__body
	&__body {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("padding", 35, 15);
	}
	// .team-card__img
	&__img {
		position: relative;
		width: rem(90);
		height: rem(90);
		border-radius: 50%;
		overflow: hidden;
		& img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&:not(:last-child) {
			margin: rem(0) rem(0) rem(10) rem(0);
		}
	}
	// .team-card__name
	&__name {
		@include adaptiveValue("font-size", 28, 22);
		line-height: math.div(36, 28);
		&:not(:last-child) {
			margin: rem(0) rem(0) rem(5) rem(0);
		}
	}
	// .team-card__position
	&__position {
		text-transform: uppercase;
		font-weight: 400;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(21, 16);
		letter-spacing: 0.03em;
		&:not(:last-child) {
			margin: rem(0) rem(0) rem(10) rem(0);
		}
	}
	// .team-card__socials
	&__socials {
	}
}
.socials-card {
	width: rem(110);
	// .socials-card__list
	&__list {
		display: flex;
		justify-content: space-between;
		@media (max-width: 420px) {
		}
	}
	// .socials-card__item
	&__item {
		width: rem(18);
		height: rem(18);
	}
	// .socials-card__link
	&__link {
	}
	// .socials-card__img
	&__img {
	}
}

//-------subscribe-------
.subscribe {
	&__body {
		text-align: center;
		background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
		/* Shadow */
		box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
		border: 1px solid $mainBorderColor;
		border-radius: 34px;
		@include adaptiveValue("padding", 50, 25);
	}

	// .subscribe__title
	&__title {
	}
	// .subscribe__subtitle
	&__subtitle {
	}
	// .subscribe__form
	&__form {
	}
}

.form {
	// .form__item
	&__item {
	}
	// .form__submit
	&__submit {
	}
}
.form-subscribe {
	position: relative;
	max-width: rem(860);
	@include adaptiveValue("height", 80, 60);
	margin: 0 auto;

	& p {
		position: relative;
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}
	// .form-subscribe__input
	&__input {
		height: 100%;
		border-radius: 70px;
	}

	&__icon {
		display: inline-block;
		width: rem(16);
		height: rem(16);
		background: url("@img/icons/icon-font/subscribe.svg") center no-repeat;
		margin: rem(0) rem(10) rem(0) rem(0);
		@media (max-width: $mobileSmall) {
			margin: 0;
		}
	}
	// .form-subscribe__submit
	&__submit {
		position: absolute;
		min-width: rem(50);
		top: 50%;
		right: rem(15);
		@include adaptiveValue("right", 15, 5);
		transform: translate(0, -50%);
		border-radius: 70px;
		opacity: 0.9;
	}
}
.form-callback {
	// .form-callback__item
	&__item {
	}
}
